.video-list {
    display: flex;
    flex-direction: column;
    height: 615px;
    border: 1px solid #CED4DA;
    overflow: auto;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

.video-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.video-list-item:hover {
    background-color: #F5F5F5;
}

.video-list-item img {
    max-width: 150px;
    max-height: 150px;
}

.video-list font {
    margin-left: 2%;
    color: #FF0000;
}
